.user-data-card {
  width: 100%;
  border-radius: 20px;
  //   padding: 16px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.user-data-table {
  width: 100%;
  border-collapse: collapse;
}

.user-data-table th,
.user-data-table td {
  padding: 8px;
  border-bottom: 1px solid #f0f0f0; /* Alt çizgi ile satırları ayır */
}

.user-data-table th {
  text-align: right; /* Key sağa yaslanır */
  font-weight: bold;
  padding-right: 16px;
  border-right: 1px solid #f0f0f0; /* Dikey ayırıcı çizgi */
}

.user-data-table td {
  text-align: left; /* Value sola yaslanır */
  padding-left: 16px;
}

.user-data-table tr:last-child th,
.user-data-table tr:last-child td {
  border-bottom: none;
}
